# Write a Program to multiply all the items in a list.

In [2]:
l=[10,20,30,40]
mul=1
for i in l:
    mul = mul*i
print(mul)

240000

# Write a Program to get the largest number from a list

In [6]:
l = [34,65,30,40,11,51]
max = l[0]
for x in l:
    if x>max:
        max = x
print(max)

65

# Write a Program to get the smallest number from a list

In [7]:
l = [34,65,30,40,11,51]
min = l[0]
for x in l:
    if x<min:
        min = x
print(min)

11

# Write a program to check a list is empty or not

In [13]:
l=[ ]
if l==[]:
    print("List is Empty")
else:  
    print("List is not empty")

List is Empty

# Write a function that takes two lists and returns True if they have at least one common member

In [48]:
def compare(list1,list2): 
    for x in list1:
        for y in list2:
            if x==y:
                return True
    return False       
list1=[1,2,3,4]
list2=[8,9,0,1]
compare(list1,list2)

True

# 6. Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.

In [39]:
l = [1,2,3,4,5,6,7,8,9]
l.remove(l[0])
l.remove(l[4])
l.remove(l[5])
print(l)

[2, 3, 4, 5, 7, 9]

# 7. Write a Python script to concatenate following dictionaries to create a new one. 
# Sample Dictionary :
# dic1={1:10, 2:20}
# dic2={3:30, 4:40}
# dic3={5:50,6:60}
# Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [41]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
r_dict = {}
r_dict.update(dic1)
r_dict.update(dic2)
r_dict.update(dic3)
print(f'Result Dict: {r_dict}')

Result Dict: {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

# 8. Write a Python program to create a tuple with different data types.

In [42]:
tuple = (11,12.23,'ABC',[10,'Madhur',20.11],{'name':'Madhur','rollno':33})
print(tuple)

(11, 12.23, 'ABC', [10, 'Madhur', 20.11], {'name': 'Madhur', 'rollno': 33})

# 9. Write a Python program to create a tuple with numbers and print one item.

In [50]:
t = (10,20.22,'Madhur',40,22,11,'Chauhan')
print(t[2])

Madhur

# 10.Write a Python program to convert a tuple to a string

In [52]:
tuple = ('a','b','c','d','e','f','g')
print(tuple)
print(type(tuple))
s=''.join(tuple)
print(s)
print(type(s))

('a', 'b', 'c', 'd', 'e', 'f', 'g')
<class 'tuple'>
abcdefg
<class 'str'>

In [54]:
def convertTuple(tup):
    str = ''
    for item in tup:
        str += item
    return str    
tuple = ('a','b','c','d','e','f','g')
str = convertTuple(tuple)
print(str)
print(type(str))

abcdefg
<class 'str'>

# 11.Write a Python program to get the 4th element and 4th element from last of a tuple.

In [4]:
t = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)
f_4th=t[3]
l_4th=t[-4]
print("4th element from first: ",f_4th)
print("4th element from last: ",l_4th)

4th element from first:  4
4th element from last:  12

# 12.Write a Python function to sum all the numbers in a list. Go to the editor
# Sample List : (8, 2, 3, 0, 7)
# Expected Output : 20

In [6]:
l = [8,2,3,0,7]
sum = 0
for i in range(len(l)):
    sum += l[i]
print("The Sum is: ",sum)

The Sum is:  20

# 13.Write a Python function to multiply all the numbers in a list. Go to the editor
# Sample List : (8, 2, 3, -1, 7)
# Expected Output : -336

In [7]:
l = [8,2,3,-1,7]
mul = 1
for i in range(len(l)):
    mul *= l[i]
print("The Product is: ",mul)

The Product is:  -336

# 14.Calculate the sum of all numbers from 1 to a given number

In [11]:
num = int(input("Enter the number: "))
sum =0
for i in range(num+1):
    sum += i
print('The sum of all numbers from 1 to given number: ',sum)

Enter the number: 11
The sum of all numbers from 1 to given number:  66

# 15.Write a program to print multiplication table of a given number.

In [13]:
num = int(input("Enter the number which you want to print table: "))
for i in range(1,11):
    print(num,'*',i,'=',num*i)

Enter the number which you want to print table: 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

# 16.Display numbers from a list using loop

In [15]:
l = [10,20,50,39,25,21]
print("The numbers of a list...")
for i in range(len(l)):
    print(l[i])

The numbers of a list...
10
20
50
39
25
21

# 17.Count the total number of digits in a number

In [19]:
n = input("Enter the number:")
count = 0
for i in range(len(n+'1')):
    count+=i
print(i)

Enter the number:12345678901
11

# 18.A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years.
# Ask user for their salary and year of service and print the net bonus amount.

In [21]:
slry = float(input("Enter the salary of employee: "))
yr_of_service = int(input("Enter the year of service of employee: "))
if yr_of_service > 5:
    print("The net bonus amount of employee: ",1/20*slry)
else:
    print("Your year of service is not more than 5 years....")

Enter the salary of employee: 50000
Enter the year of service of employee: 5
Your year of service is not more than 5 years....

# 20. A school has following rules for grading system:
# a. Below 25 - F
# b. 25 to 45 - E
# c. 45 to 50 - D
# d. 50 to 60 - C
# e. 60 to 80 - B
# f. Above 80 - A
# Ask user to enter marks and print the corresponding grade.

In [30]:
marks = int(input("Enter the marks of student: "))
if marks > 80:
    print("Grade A")
elif marks > 60 and marks <= 80:
    print("Grade B")
elif marks > 50 and marks <= 60:
    print("Grade C")
elif marks > 45 and marks <= 50:
    print("Grade D")
elif marks > 25 and marks <= 45:
    print("Grade E")
else:
    print("Grade F")

Enter the marks of student: 100
Grade A

# 21.Take input of age of 3 people by user and determine oldest and youngest among them.

In [37]:
per1 = int(input("Enter the age of 1st person: "))
per2 = int(input("Enter the age of 2nd person: "))
per3 = int(input("Enter the age of 3rd person: "))
if per1>per2 and per1>per3:
    print("1st person is oldest")
elif per2>per3:
    print("2nd person is oldest")
else:
    print("3rd person is oldest")   
if per1<per2 and per1<per3:
    print("1st person is youngest")
elif per2<per3:
    print("2nd person is youngest")   
else:
    print("3rd person is youngest")

Enter the age of 1st person: 34
Enter the age of 2nd person: 23
Enter the age of 3rd person: 12
1st person is oldest
3rd person is youngest

# 22.A student will not be allowed to sit in exam if his/her attendence is less than 75%.
# Take following input from user
# Number of classes held
# Number of classes attended.
# And print
# percentage of class attended
# Is student is allowed to sit in exam or not.

In [41]:
total_classes = int(input("Enter the total number of classes held: "))
class_attended = int(input("Enter the number of classes of attended: "))
per = class_attended/total_classes*100
if per>=75:
    print("Student is allowed to sit in exam, Your attendance percent is: ",per,"%")
else:
    print("Student is not allowed to sit in exam, Your attendance percent is: ",per,"%")

Enter the total number of classes held: 100
Enter the number of classes of attended: 75
Student is allowed to sit in exam, Your attendance percent is:  75.0 %